
# Question 1
Write a program on the following two question- s. Both Sections A and B should be written in one
program.
### A (PANDAS: SERIES) Perform the following tasks with pandas Series:
- a. Create a Series from the list [7, 11, 13, 17].
- b. Create a Series with five elements that are all 100.0.
- c. Create a Series with 20 elements that are all random numbers in the range 0 to 100. Use method describe to produce the Series’ basic descriptive statistics.
- d. Create a Series called temperatures of the floating-point values 98.6, 98.9, 100.2 and 97.9. Using the index keyword argument, specify the custom indices 'Julie', 'Charlie', 'Sam' and 'Andrea'.
- e. Form a dictionary from the names and values in Part (d), then use it to initialize a Series.

In [144]:
import numpy as np
import pandas as pd
import random


ser = pd.Series([7, 11, 13, 17])
print("Series a.")
print(ser)

ser = pd.Series([100.0]*5)
print("\nSeries b.")
print(ser)

ser = pd.Series(np.random.randint(0, 100, size=20))
print("\nSeries c.")
print(ser.describe())

temperatures = pd.Series(data = [98.6, 98.9, 100.2, 97.9], index=['Julie', 'Charlie', 'Sam', 'Andrea'], name='Temperatures')
print("\nSeries d.")
print(temperatures)

tempDict = temperatures.to_dict()
print("\nSeries e.")
print(tempDict)
ser = pd.Series(data=tempDict)
print(ser)

Series a.
0     7
1    11
2    13
3    17
dtype: int64

Series b.
0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
dtype: float64

Series c.
count    20.000000
mean     35.950000
std      24.038292
min       0.000000
25%      14.750000
50%      33.000000
75%      59.500000
max      75.000000
dtype: float64

Series d.
Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
Name: Temperatures, dtype: float64

Series e.
{'Julie': 98.6, 'Charlie': 98.9, 'Sam': 100.2, 'Andrea': 97.9}
Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

### B (PANDAS: DATAFRAMES) Perform the following tasks with pandas DataFrames:
- f. Create a DataFrame named temperatures from a dictionary of three temperature
readings each for 'Maxine', 'James' and 'Amanda'.
- g. Recreate the DataFrame temperatures in Part (a) with custom indices using the index keyword argument and a list
containing 'Morning', 'Afternoon' and 'Evening'.
- h. Select from temperatures the column of temperature readings for 'Maxine'.
- i. Select from temperatures the row of 'Morning' temperature readings.
- j. Select from temperatures the rows for 'Morning' and 'Evening' temperature
readings.
- k. Select from temperatures the columns of temperature readings
for 'Amanda' and 'Maxine'.
- l. Select from temperatures the elements for 'Amanda' and 'Maxine' in
the 'Morning' and 'Afternoon'.
- m. Use the describe method to produce temperatures’ descriptive statistics.
- n. Transpose temperatures.
- o. Sort temperatures so that its column names are in alphabetical order.

In [145]:
import numpy as np
import pandas as pd

d = {'Maxine': [53.4, 100.2, 59.6], 'James':[78.9, 98.9, 70.4], 'Amanda': [44.3, 98.6, 84.5]}

temperatures = pd.DataFrame(d)
print('DataFrame f.')
print(temperatures)

newIdx = ['Morning', 'Afternoon', 'Evening'] #this makes the random temps look sooo silly 
temperatures.index = newIdx
print('\nDataFrame g.')
print(temperatures)

print('\nDataFrame h.')
print(temperatures.get('Maxine'))

print('\nDataFrame i.')
print(temperatures[:1])

print('\nDataFrame j.')
print(temperatures.iloc[[0,-1]]) 

print('\nDataFrame k.')
print(temperatures.iloc[:,[0,-1]]) 

print('\nDataFrame l.')
print(temperatures.iloc[:2,[0,-1]]) 

print('\nDataFrame m.')
print(temperatures.describe())

print('\nDataFrame n.')
print(temperatures.transpose())

print('\nDataFrame o.')
print(temperatures.reindex(sorted(temperatures.columns), axis=1))

DataFrame f.
   Maxine  James  Amanda
0    53.4   78.9    44.3
1   100.2   98.9    98.6
2    59.6   70.4    84.5

DataFrame g.
           Maxine  James  Amanda
Morning      53.4   78.9    44.3
Afternoon   100.2   98.9    98.6
Evening      59.6   70.4    84.5

DataFrame h.
Morning       53.4
Afternoon    100.2
Evening       59.6
Name: Maxine, dtype: float64

DataFrame i.
         Maxine  James  Amanda
Morning    53.4   78.9    44.3

DataFrame j.
         Maxine  James  Amanda
Morning    53.4   78.9    44.3
Evening    59.6   70.4    84.5

DataFrame k.
           Maxine  Amanda
Morning      53.4    44.3
Afternoon   100.2    98.6
Evening      59.6    84.5

DataFrame l.
           Maxine  Amanda
Morning      53.4    44.3
Afternoon   100.2    98.6

DataFrame m.
           Maxine      James     Amanda
count    3.000000   3.000000   3.000000
mean    71.066667  82.733333  75.800000
std     25.419940  14.631587  28.176054
min     53.400000  70.400000  44.300000
25%     56.500000  74.650000  64.400000
50%     59.600000  78.900000  84.500000
75%     79.900000  88.900000  91.550000
max    100.200000  98.900000  98.600000

DataFrame n.
        Morning  Afternoon  Evening
Maxine     53.4      100.2     59.6
James      78.9       98.9     70.4
Amanda     44.3       98.6     84.5

DataFrame o.
           Amanda  James  Maxine
Morning      44.3   78.9    53.4
Afternoon    98.6   98.9   100.2
Evening      84.5   70.4    59.6

# Question 2
Using the titanic.csv dataset, write a program to explore and mine the following information:
- How many passengers were on the titanic?
- How many male and female passengers were in the titanic?
- What was the average age of all passengers?
- How many passengers were under 21 years of age?
- How many survived and how many did not? How many males and how many females?
- What was the youngest age that survived, and the oldest age? What were their names?
- Display the name of all passengers that survived

In [146]:
import numpy as np
import pandas as pd

titanic = pd.read_csv('titanic.csv',)
# print(titanic)
print("\n\nThere were ",  len(titanic),"passengers on the Titanic.")
print("Number of Male Passengers:",  titanic['sex'].value_counts()['male'])
print("Number of Female Passengers:", titanic['sex'].value_counts()['female'] )

print("The average age of all the passengers was: ", titanic.loc[:, 'age'].mean())
print("There are ",  (titanic['age'] < 21).sum() ," passengers under 21 years old.")

print("Total Passengers Survived: ",  (titanic['survived'] == 'yes').sum()," Male: ", len(titanic.loc[(titanic['survived'] == 'yes') & (titanic['sex'] == 'male')]) ,", Female: ",  len(titanic.loc[(titanic['survived'] == 'yes') & (titanic['sex'] == 'female')]) )
print("Total Passengers Deceased: ",  (titanic['survived'] == 'no').sum()," Male: ", len(titanic.loc[(titanic['survived'] == 'no') & (titanic['sex'] == 'male')]) ,", Female: ",  len(titanic.loc[(titanic['survived'] == 'no') & (titanic['sex'] == 'female')]) )

young = titanic['age'].min()
youngeIdx = titanic.index.get_loc(titanic[titanic['age'] == young].index[0])

print("The youngest survivor was",  titanic['Name'][youngeIdx],". They were", young,"years old.")

oldest = titanic['age'].max()
oldestIdx = titanic.index.get_loc(titanic[titanic['age'] == oldest].index[0])
print("The oldest survivor was",  titanic['Name'][oldestIdx],"They were", oldest,"years old.")

print('\nList of passengers:\n',titanic['Name'])

There were  1309 passengers on the Titanic.
Number of Male Passengers: 843
Number of Female Passengers: 466
The average age of all the passengers was:  29.881134512434034
There are  249  passengers under 21 years old.
Total Passengers Survived:  500  Male:  161 , Female:  339
Total Passengers Deceased:  809  Male:  682 , Female:  127
The youngest survivor was Dean, Miss. Elizabeth Gladys M . They were 0.166700006 years old.
The oldest survivor was Barkworth, Mr. Algernon Henry W They were 80.0 years old.

List of passengers:
 0         Allen, Miss. Elisabeth Walton
1        Allison, Master. Hudson Trevor
2          Allison, Miss. Helen Loraine
3       Allison, Mr. Hudson Joshua Crei
4       Allison, Mrs. Hudson J C (Bessi
                     ...
1304               Zabour, Miss. Hileni
1305              Zabour, Miss. Thamine
1306          Zakarian, Mr. Mapriededer
1307                Zakarian, Mr. Ortin
1308                 Zimmerman, Mr. Leo
Name: Name, Length: 1309, dtype: object